<header>

    <div class="container">

        <a class="logo" href="/">
            Apartamentos Turísticos Larrabide
        </a>

        <nav>

            <a href="/apartamentos/">Apartamentos</a>

            <a href="/pamplona/">Pamplona</a>

<a href="/pamplona/eventos/">Eventos</a>

<a href="/pamplona/congresos/">Congresos</a>
            
            <a href="/cicloturismo-navarra/">Cicloturismo</a>

            <a href="/contacto/">Contacto</a>

            <a href="/apartamentos/" class="button button-nav">
    Reservar
</a>

        </nav>

    </div>

</header>
