<div class="container">

    <a class="logo" href="{{ if eq .Lang "en" }}/en/{{ else }}/{{ end }}">
        Apartamentos Turísticos Larrabide
    </a>

    <nav>

        {{ if hasPrefix .RelPermalink "/en/" }}

            <a href="/en/book/">Book</a>

            <a href="/en/bike/">Bike-Friendly</a>

            <a href="/en/baluarte/accommodation-near-baluarte-pamplona/">
                Baluarte
            </a>

        {{ else }}

            <a href="/apartamentos/">Apartamentos</a>

            <a href="/pamplona/">Pamplona</a>

            <a href="/pamplona/eventos/">Eventos</a>

            <a href="/pamplona/conciertos/">Conciertos</a>

            <a href="/pamplona/congresos/">Congresos</a>

            <a href="/cicloturismo-navarra/">Cicloturismo</a>

        {{ end }}

    </nav>

</div>
